<!DOCTYPE html>
<html>
    <head>
        <title>Employee Management</title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

        <link href="style.css" rel="stylesheet">
      
    </head>
    <body>
       <div class="home-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Employee Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link " href="/employee-entry">Enter Details </a>
                <a class="nav-item nav-link" href="/employee-details">Emloyee Details</a>
                <a class="nav-item nav-link active" href="#">About Company <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/reviews">Company Reviews</a>
                <a class="nav-item nav-link" href="/leave">Leave</a>
              </div>
              <span class="navbar-text">
                <button type="button" class="btn btn-danger">Log Out</button>
              </span>
            </div>
          </nav>
      <h3>About</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt repellat rem maxime corrupti iure quos aliquid iusto ab odio in praesentium possimus enim, amet nemo reiciendis et similique est? Delectus.</p>
       </div>
              
    </body>
   
</html>