<!DOCTYPE html>
<html>
    <head>
        <title>Employee Management</title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

        <link href="style.css" rel="stylesheet">
      
    </head>
    <body>
       <div class="home-container">

<!--/. Sidebar navigation -->
       </div>
              
    </body>
   
</html>